<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.dao.user.UserDAO">

	<resultMap type="User" id="userResultMap">
		<id property="id" column="USER_ID" />
		<id property="userName" column="USER_NAME" />
		<result property="mobile" column="MOBILE_NO" />
		<result property="deviceToken" column="DEVICE_TOKEN" />
		<result property="password" column="USER_PWD" />
		<result property="certification" column="NAME_AUTH_STATUS" />
		<result property="cardId" column="ID_CARD" />
		<result property="status" column="STATUS" />
		<result property="createDate" column="CREATE_DATE" />
		<!-- 修改表后添加的字段 -->
		<result property="updateDate" column="UPDATE_DATE" />  <!--修改时间 -->
		<result property="referralCode" column="REFERRAL_CODE" />  <!-- 推荐码 -->
		<result property="bankAuthStatus" column="BANK_AUTH_STATUS" />  <!--  银行卡认证状态 -->
		<result property="investStatus" column="INVEST_STATUS" />  <!-- 投资状态 -->
		<result property="umpayUserNo" column="UMPAY_USER_NO" />  <!--  联动用户号 -->
		<result property="umpayAccountNo" column="UMPAY_ACCOUNT_NO" />  <!--  UMPAY_ACCOUNT_NO联动账户号 -->
   		<result property="guestType" column="GUEST_TYPE" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="isExperience" column="IS_EXPERIENCE" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="isStaff" column="IS_STAFF" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="isFirstOrder" column="IS_FIRST_ORDER" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="isHasOrder" column="IS_HAS_ORDER" />
   		
    </resultMap>

	<resultMap type="UserInfo" id="userInfoResultMap">
		<id property="userId" column="USER_ID" />
		<id property="userName" column="USER_NAME" />
		<result property="mobile" column="MOBILE_NO" />
		<result property="deviceToken" column="DEVICE_TOKEN" />
		<result property="certification" column="NAME_AUTH_STATUS" />
		<result property="cardId" column="ID_CARD" />
		<result property="status" column="STATUS" />
		<result property="createDate" column="CREATE_DATE" />
		<!-- 修改表后添加的字段 -->
		<result property="referralCode" column="REFERRAL_CODE" />  <!-- 推荐码 -->
		<result property="bankAuthStatus" column="BANK_AUTH_STATUS" />  <!--  银行卡认证状态 -->
		<result property="investStatus" column="INVEST_STATUS" />  <!-- 投资状态 -->
		<result property="umpayUserNo" column="UMPAY_USER_NO" />  <!--  联动用户号 -->
   		<result property="guestType" column="GUEST_TYPE" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="isExperience" column="IS_EXPERIENCE" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="isStaff" column="IS_STAFF" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="isFirstOrder" column="IS_FIRST_ORDER" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="bankNo" column="BANK_NO" />  <!-- 银行卡号 -->
   		<result property="belongBank" column="BELONG_BANK" />  <!-- 银行名称 -->
   		<result property="preMoblieNo" column="PRE_MOBILE_NO" />  <!-- 银行预留手机号码 -->
		<result property="userLevelId" column="LEVEL" />  <!-- 用户等级 -->
		<result property="agreementCZ" column="AGREEMENT_CZ" />  <!-- 充值 -->
		<result property="agreementTZ" column="AGREEMENT_TZ" />  <!-- 投资 -->
    </resultMap>

	<resultMap type="UserInfoList" id="userInfoListResultMap">
		<id property="userId" column="USER_ID" />
		<id property="userName" column="USER_NAME" />
		<result property="mobile" column="MOBILE_NO" />
		<result property="deviceToken" column="DEVICE_TOKEN" />
		<result property="certification" column="NAME_AUTH_STATUS" />
		<result property="cardId" column="ID_CARD" />
		<result property="status" column="STATUS" />
		<result property="createDate" column="CREATE_DATE" />
		<!-- 修改表后添加的字段 -->
		<result property="referralCode" column="REFERRAL_CODE" />  <!-- 推荐码 -->
		<result property="bankAuthStatus" column="BANK_AUTH_STATUS" />  <!--  银行卡认证状态 -->
		<result property="investStatus" column="INVEST_STATUS" />  <!-- 投资状态 -->
		<result property="umpayUserNo" column="UMPAY_USER_NO" />  <!--  联动用户号 -->
   		<result property="guestType" column="GUEST_TYPE" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="isExperience" column="IS_EXPERIENCE" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="isStaff" column="IS_STAFF" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="isFirstOrder" column="IS_FIRST_ORDER" />  <!-- GUEST_TYPE客户类型 -->
   		<result property="bankNo" column="BANK_NO" />  <!-- 银行卡号 -->
   		<result property="belongBank" column="BELONG_BANK" />  <!-- 银行名称 -->
   		<result property="preMoblieNo" column="PRE_MOBILE_NO" />  <!-- 银行预留手机号码 -->
    </resultMap>
<!--
	ID,USER_ID,USER_NAME,LOGIN_MOBILE_NO,LOCATION_INFO,PRIMARY_PWD,NEW_PWD,LOG_TYPE,LOGIN_IP,ERROR_RESON,LOGINSTATUS,LOGIN_DATE,SESSIONKEY
-->
	<resultMap type="UserLogin" id="userLoginResultMap">
		<id property="id" column="ID" />
		<id property="userId" column="USER_ID" />
		<id property="userName" column="USER_NAME" />
		<id property="loginMobileNo" column="LOGIN_MOBILE_NO" />
		<id property="locationInfo" column="LOCATION_INFO" />
		<id property="primaryPwd" column="PRIMARY_PWD" />
		<id property="newPwd" column="NEW_PWD" />
		<id property="logType" column="LOG_TYPE" />
		<id property="loginIp" column="LOGIN_IP" />
		<id property="errorReson" column="ERROR_RESON" />
		<id property="loginStatus" column="LOGINSTATUS" />
		<id property="loginDate" column="LOGIN_DATE" />
		<id property="sessionKey" column="SESSIONKEY" />
	</resultMap>

	<resultMap type="UserProfile" id="userProfileResultMap">
		<id property="id" column="ID" />
		<id property="userId" column="USER_ID" />
		<id property="userName" column="USER_NAME" />
		<id property="idcard" column="IDCARD" />
		<id property="education" column="EDUCATION" />
		<id property="job" column="JOB" />
		<id property="income" column="INCOME" />
		<id property="creditCardType" column="CREDIT_CARD_TYPE" />

		<id property="shebaoType" column="SHEBAO_TYPE" />
		<id property="gongjijinType" column="GONGJIJIN_TYPE" />
		<id property="houseType" column="HOUSE_TYPE" />
		<id property="carType" column="CAR_TYPE" />
		<id property="creditType" column="CREDIT_TYPE" />
		<id property="maYiJiFen" column="MAYI_JIFEN" />
		<id property="creditLevel" column="CREDIT_LEVEL" />
		<id property="salaryType" column="SALARY_TYPE" />
		<id property="bankStatementType" column="BANK_STATEMENT_TYPE" />
		<id property="currentJobTimeType" column="CURRENT_JOB_TIME_TYPE" />
		<id property="age" column="AGE" />
		<id property="gender" column="GENDER" />
		<id property="mobileType" column="MOBILE_TYPE" />

		<id property="createDate" column="CREATE_DATE" />
		<id property="updateDate" column="UPDATE_DATE" />
	</resultMap>


	<resultMap type="UserIOSProfile" id="userIOSProfileResultMap">
		<id property="id" column="ID" />
		<id property="userId" column="USER_ID" />
		<id property="contactUser" column="CONTACT_USER" />
		<id property="contactPhone" column="CONTACT_PHONE" />
		<id property="address" column="ADDRESS" />
		<id property="email" column="EMAIL" />
		<id property="incomeType" column="INCOME_TYPE" />
		<id property="provinceCode" column="PROVINCE_CODE" />
		<id property="cityCode" column="CITY_CODE" />
		<id property="areaCode" column="AREA_CODE" />
		<id property="createDate" column="CREATE_DATE" />
		<id property="updateDate" column="UPDATE_DATE" />
		<id property="userName" column="USER_NAME" />
	</resultMap>

	<sql id="userColumns">
        <![CDATA[
		USER_ID,USER_NAME,MOBILE_NO,DEVICE_TOKEN,USER_PWD,NAME_AUTH_STATUS,ID_CARD,STATUS,CREATE_DATE,
		UPDATE_DATE,REFERRAL_CODE,BANK_AUTH_STATUS,INVEST_STATUS,UMPAY_USER_NO,
		UMPAY_ACCOUNT_NO,GUEST_TYPE,IS_EXPERIENCE,IS_STAFF,IS_FIRST_ORDER,REG_DATE,USER_LEVEL_ID,IS_HAS_ORDER, IS_BASIC_INFO,
		IS_APPLY_SUBMIT
		]]>
	</sql>

	<sql id="pagination">
        <![CDATA[
	    limit #{currentPage}, #{pageSize}
	  ]]>
	</sql>

	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO TS_USER (
		<include refid="userColumns" />)
		VALUES
        <![CDATA[  
        	(#{id},#{userName},#{mobile},#{deviceToken},#{password},#{certification},#{cardId},#{status},#{createDate},
		    #{updateDate},#{referralCode},#{bankAuthStatus},#{investStatus},#{umpayUserNo},#{umpayAccountNo},#{guestType},#{isExperience},#{isStaff},#{isFirstOrder},#{regDate},
		    #{userLevelId},#{isHasOrder}, #{isBasicInfo},#{isApplySubmit}
			)
        ]]>
	</insert>

	<insert id="insertUserLoginLog" parameterType="User" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO TL_USER_LOGIN (ID,USER_ID,USER_NAME,LOGIN_MOBILE_NO,LOCATION_INFO,PRIMARY_PWD,NEW_PWD,LOG_TYPE,LOGIN_IP,ERROR_RESON,LOGINSTATUS,LOGIN_DATE,SESSIONKEY)
	VALUES (#{id},#{userId},#{userName},#{loginMobileNo},#{locationInfo},#{primaryPwd},#{newPwd},#{logType},#{loginIp},#{errorReson},#{loginStatus},#{loginDate},#{sessionKey})
	</insert>


	<select id="getUserByMobileNo" resultMap="userResultMap">
		SELECT
		<include refid="userColumns" />
        <![CDATA[  FROM TS_USER WHERE MOBILE_NO=#{mobileNo} ]]>
	</select>



	<select id="countUser" resultType="java.lang.Integer">
        <![CDATA[
            select COUNT(t.USER_ID) from TS_USER t where t.MOBILE_NO=#{mobileNo}
        ]]>
	</select>


	<select id="queryPage" resultType="User">
		SELECT id,
		<include refid="userColumns" />
		from user where 1=1
		<if test="object.mobile != null">
			and mobile=#{object.mobile}
		</if>

		<if test="object.queryPassWord != null">
			and queryPassWord=#{object.queryPassWord}
		</if>
		order by id
		<include refid="pagination" />
	</select>

	<select id="getUserByUmpayUserNo"  resultMap="userResultMap">
		SELECT
		<include refid="userColumns" />
		<![CDATA[  FROM TS_USER WHERE UMPAY_USER_NO=#{umpayUserNO} ]]>
	</select>

	<select id="findLastUserLoginLog"  resultMap="userLoginResultMap">
		SELECT ID,USER_ID,USER_NAME,LOGIN_MOBILE_NO,LOCATION_INFO,PRIMARY_PWD,NEW_PWD,LOG_TYPE,LOGIN_IP,ERROR_RESON,LOGINSTATUS,LOGIN_DATE,SESSIONKEY FROM TL_USER_LOGIN
		WHERE USER_ID=#{userId} AND LOGINSTATUS='0' ORDER BY LOGIN_DATE DESC LIMIT 1
	</select>

	<select id="findUserByIdentityCode" resultType="java.lang.Integer">
		SELECT COUNT(ID_CARD) FROM TS_USER t WHERE t.ID_CARD=#{identityCode} AND t.USER_NAME=#{userName}
	</select>

	<select id="getUserInfoByUserId" resultMap="userInfoResultMap">
		SELECT IFNULL(tua.`AGREEMENT_CZ`, '0') AGREEMENT_CZ,IFNULL(tua.`AGREEMENT_TZ`, '0') AGREEMENT_TZ,
		  u.USER_ID,
		  u.USER_NAME,
		  u.MOBILE_NO,
		  u.DEVICE_TOKEN,
		  u.NAME_AUTH_STATUS,
		  u.ID_CARD,
		  u.STATUS,
		  u.CREATE_DATE,
		  u.REFERRAL_CODE,
		  u.BANK_AUTH_STATUS,
		  u.INVEST_STATUS,
		  u.UMPAY_USER_NO,
		  u.GUEST_TYPE,
		  u.IS_EXPERIENCE,
		  u.IS_STAFF,
		  u.IS_FIRST_ORDER,
		  u.REG_DATE,
		  tul.LEVEL,
		  a.BANK_NO,
		  a.BELONG_BANK,
		  a.PRE_MOBILE_NO
		FROM
		  TT_USER_LEVEL tul,
		  TS_USER u
		  LEFT JOIN TT_BANK_ACCOUNT a
			ON u.USER_ID = a.USER_ID
			AND a.STATUS = '1'
		  LEFT JOIN TT_USER_AGREEMENT tua ON tua.`USER_ID`=u.`USER_ID`
		WHERE tul.USER_ID=u.USER_ID AND u.USER_ID = #{userId}
	</select>

	<!-- update password -->
	<update id="updateUserPwd">
		UPDATE TS_USER SET USER_PWD=#{newPwd} WHERE MOBILE_NO=#{mobileNo}
	</update>
	<!-- retrieve password -->
	<update id="retrieveUserPwd">
		UPDATE TS_USER SET USER_PWD=#{newPwd} WHERE MOBILE_NO=#{mobileNo}
	</update>

	<update id="updateUserExperience">
		UPDATE TS_USER SET IS_EXPERIENCE='1' WHERE USER_ID=#{userId}
	</update>

	<select id="getProfileId" resultType="java.lang.Long">
		SELECT
		tup.ID
		FROM
		TT_USER_PROFILE tup
		WHERE  tup.USER_ID = #{userId}
	</select>

	<select id="getIOSProfileId" resultType="java.lang.Long">
		SELECT
		tup.ID
		FROM
		TT_USER_TEMP_PROFILE tup
		WHERE  tup.USER_ID = #{userId}
	</select>

	<select id="getIOSProfileSubmit" resultType="java.lang.Integer">
		SELECT IS_BASIC_INFO FROM TS_USER
		WHERE  USER_ID = #{userId}
	</select>

	<update id="updateIOSProfileSubmit">
		UPDATE TS_USER
		SET IS_BASIC_INFO = 1
		WHERE  USER_ID = #{userId}
	</update>

	<update id="updateIOSApplySubmit">
		UPDATE TS_USER
		SET IS_APPLY_SUBMIT = 1
		WHERE  USER_ID = #{userId}
	</update>


	<insert id="insertUserSubmit"  keyProperty="id">
		INSERT INTO TR_USER_TEMP_SUBMIT (ID,USER_ID,SUBMIT_TIME)
		VALUES (#{id},#{userId},now())
	</insert>

	<select id="getSubmitTime"  resultType="java.lang.String">
		SELECT SUBMIT_TIME FROM TR_USER_TEMP_SUBMIT
		WHERE  USER_ID = #{userId}
	</select>

	<select id="getIOSApplySubmit" resultType="java.lang.Integer">
		SELECT IS_APPLY_SUBMIT FROM TS_USER
		WHERE  USER_ID = #{userId}
	</select>

	<select id="getIOSProfile" resultMap="userIOSProfileResultMap">
		SELECT
		tup.ID,
		tup.USER_ID,
		tup.CONTACT_USER,
		tup.CONTACT_PHONE,
		tup.ADDRESS,
		tup.EMAIL,
		tup.INCOME_TYPE,
		tup.PROVINCE_CODE,
		tup.CITY_CODE,
		tup.AREA_CODE,
		tu.USER_NAME,
		tup.CREATE_DATE
		FROM
		TT_USER_TEMP_PROFILE tup, TS_USER tu
		WHERE tu.USER_ID = tup.USER_ID AND tup.USER_ID = #{userId}
	</select>

	<select id="getProfile" resultMap="userProfileResultMap">
		SELECT
			tup.ID,
		    tup.USER_ID,
		   	tup.USER_NAME,
		   	tup.IDCARD,
	 		tup.EDUCATION,
		 	tup.JOB,
		 	tup.INCOME,
		  	tup.CREDIT_CARD_TYPE,
		  	tup.SHEBAO_TYPE,
		   	tup.GONGJIJIN_TYPE,
		   	tup.HOUSE_TYPE,
	 		tup.CAR_TYPE,
		 	tup.CREDIT_TYPE,
		 	tup.MAYI_JIFEN,
		  	tup.CREDIT_LEVEL,
		     tup.SALARY_TYPE,
		   	tup.BANK_STATEMENT_TYPE,
		   	tup.CURRENT_JOB_TIME_TYPE,
	 		tup.AGE,
		 	tup.GENDER,
		 	tup.MOBILE_TYPE,
		   	tup.CREATE_DATE
		FROM
		  TT_USER_PROFILE tup
		WHERE  tup.USER_ID = #{userId}
	</select>


	<insert id="insertProfile" parameterType="UserProfile">
		INSERT INTO TT_USER_PROFILE   (ID, USER_ID, USER_NAME,IDCARD,EDUCATION,JOB,INCOME,CREDIT_CARD_TYPE,
		SHEBAO_TYPE, GONGJIJIN_TYPE,HOUSE_TYPE,CAR_TYPE,CREDIT_TYPE,MAYI_JIFEN,CREDIT_LEVEL,SALARY_TYPE,BANK_STATEMENT_TYPE,
		CURRENT_JOB_TIME_TYPE,AGE,GENDER,MOBILE_TYPE,CREATE_DATE )
		VALUES
		<![CDATA[
		( #{id},#{userId},#{userName},#{idcard},#{education},#{job},#{income},#{creditCardType},
		#{shebaoType},#{gongjijinType},#{houseType},#{carType},#{creditType},#{maYiJiFen},#{creditLevel},#{salaryType},
			#{bankStatementType},#{currentJobTimeType},#{age},#{gender},#{mobileType},now() )
		    ]]>
	</insert>




	<insert id="insertIOSProfile" parameterType="UserIOSProfile">
		INSERT INTO TT_USER_TEMP_PROFILE  (ID, USER_ID, CONTACT_USER,CONTACT_PHONE,ADDRESS,EMAIL,INCOME_TYPE,
		PROVINCE_CODE,CITY_CODE,AREA_CODE,   CREATE_DATE )
		VALUES
		<![CDATA[
		( #{id},#{userId},#{contactUser},#{contactPhone},#{address},#{email},#{incomeType},#{provinceCode},
		 #{cityCode},#{areaCode},now() )
		    ]]>
	</insert>

	<update id="updateIOSProfile" parameterType="UserIOSProfile">
		UPDATE TT_USER_TEMP_PROFILE  SET CONTACT_USER=#{contactUser},CONTACT_PHONE=#{contactPhone},
		ADDRESS=#{address},EMAIL=#{email},INCOME_TYPE=#{incomeType},PROVINCE_CODE=#{provinceCode},
		CITY_CODE=#{cityCode},AREA_CODE=#{areaCode},
		UPDATE_DATE=now()
		WHERE ID=#{id}
	</update>


	<update id="updateProfile" parameterType="UserProfile">
		UPDATE TT_USER_PROFILE  SET USER_NAME=#{userName},IDCARD=#{idcard},
		EDUCATION=#{education},JOB=#{job},INCOME=#{income},CREDIT_CARD_TYPE=#{creditCardType},
		SHEBAO_TYPE=#{shebaoType},GONGJIJIN_TYPE=#{gongjijinType},HOUSE_TYPE=#{houseType},CAR_TYPE=#{carType},
		CREDIT_TYPE=#{creditType},MAYI_JIFEN=#{maYiJiFen},CREDIT_LEVEL=#{creditLevel},SALARY_TYPE=#{salaryType},
		BANK_STATEMENT_TYPE=#{bankStatementType},CURRENT_JOB_TIME_TYPE=#{currentJobTimeType},AGE=#{age},GENDER=#{gender},
		MOBILE_TYPE=#{mobileType},UPDATE_DATE=now()
		 WHERE ID=#{id}
	</update>

	<update id="updateUser" parameterType="User">
		UPDATE TS_USER  SET USER_NAME=#{userName},MOBILE_NO=#{mobile},DEVICE_TOKEN=#{deviceToken},USER_PWD=#{password},NAME_AUTH_STATUS=#{certification},ID_CARD=#{cardId},
						 STATUS=#{status},CREATE_DATE=#{createDate},UPDATE_DATE=#{updateDate},REFERRAL_CODE=#{referralCode},BANK_AUTH_STATUS=#{bankAuthStatus},
						 INVEST_STATUS=#{investStatus},UMPAY_USER_NO=#{umpayUserNo},UMPAY_ACCOUNT_NO=#{umpayAccountNo},GUEST_TYPE=#{guestType},IS_EXPERIENCE=#{isExperience},
						 IS_STAFF=#{isStaff},IS_FIRST_ORDER=#{isFirstOrder},REG_DATE=#{regDate},USER_LEVEL_ID=#{userLevelId} WHERE USER_ID=#{id}
	</update>

	<update id="updateUserBankAuthStatus">
		UPDATE TS_USER SET BANK_AUTH_STATUS='1' WHERE UMPAY_USER_NO=#{userId}
	</update>
	<update id="updateUserStaffFlag">
		UPDATE TS_USER SET IS_STAFF='1' WHERE USER_ID=#{userId}
	</update>
	<update id="updatLastUserLoginLogById">
		UPDATE TL_USER_LOGIN SET LOGINSTATUS=#{status} WHERE ID=#{id}
	</update>

	<select id="findUserInfoList" resultMap="userInfoListResultMap">
		select u.USER_ID,u.USER_NAME,u.MOBILE_NO,u.DEVICE_TOKEN,u.NAME_AUTH_STATUS,u.ID_CARD,u.STATUS,u.CREATE_DATE,u.REFERRAL_CODE,u.BANK_AUTH_STATUS,u.INVEST_STATUS,u.UMPAY_USER_NO,
		u.GUEST_TYPE,u.IS_EXPERIENCE,u.IS_STAFF,u.IS_FIRST_ORDER,u.REG_DATE,u.USER_LEVEL_ID,
		a.BANK_NO,a.BELONG_BANK,a.PRE_MOBILE_NO
		 from TS_USER u
		LEFT JOIN TT_BANK_ACCOUNT a
		on u.USER_ID=a.USER_ID and a.`STATUS`='1'
		LIMIT #{currentPage},#{pageSize}
	</select>
	
	<select id="findUserInfoListCount" resultType="java.lang.Integer">
		select count(*) from TS_USER u
		LEFT JOIN TT_BANK_ACCOUNT a
		on u.USER_ID=a.USER_ID and a.`STATUS`='1'
	</select>
	<select id="getUserById" resultMap="userResultMap">
		SELECT
		<include refid="userColumns" />
		<![CDATA[  FROM TS_USER WHERE USER_ID=#{userId} ]]>
	</select>
	<select id="getUserStaffInfoByUserId" resultType="com.wy.user.dto.UserInfo">
		<![CDATA[
			SELECT DISTINCT
				u.USER_ID userId,
				IFNULL(ul. LEVEL, '1000') userLevelId,
				IF(s.ID IS NULL, '0', '1') isStaff,
				IFNULL(s.IS_PUSH, '0') isPush
			FROM
				TS_USER u
			LEFT JOIN TT_USER_LEVEL ul ON u.USER_ID = ul.USER_ID
			LEFT JOIN TS_STAFF s ON u.ID_CARD = s.ID_CARD
			WHERE u.USER_ID = #{userId}
		]]>
	</select>
	<update id="updateUserLevel">
		UPDATE TT_USER_LEVEL l
		SET LEVEL = #{toLevel},UPDATE_DATE=SYSDATE()
		WHERE
		LEVEL = #{fromLevel}
		AND l.USER_ID = #{userId}
	</update>
	<insert id="insertUserExt">
		INSERT INTO TS_USER_EXP SET
		ID=#{id},USER_ID=#{userId},CHANNEL=#{channel},CREATE_DATE=SYSDATE()
	</insert>
</mapper>