<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.dao.UserDAO">



    <resultMap id="userResultMap" type="User">
        <id column="USER_ID" jdbcType="BIGINT" property="userId" />
        <result column="MOBILE_NO" jdbcType="VARCHAR" property="mobileNo" />
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
        <result column="USER_PWD" jdbcType="VARCHAR" property="password" />
        <result column="SALT" jdbcType="VARCHAR" property="salt" />
        <result column="DEVICE_TOKEN" jdbcType="VARCHAR" property="deviceToken" />
        <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
        <result column="REFERRAL_CODE" jdbcType="VARCHAR" property="referralCode" />
        <result column="STATUS" jdbcType="VARCHAR" property="status" />
        <result column="IS_FIRST_ORDER" jdbcType="INTEGER" property="isFirstOrder" />
        <result column="REG_DATE" jdbcType="TIMESTAMP" property="regDate" />
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
        <result column="HEAD_IMAGE" jdbcType="VARCHAR" property="headImage" />
        <result column="GENDER" jdbcType="INTEGER" property="gender" />
        <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    </resultMap>


    <resultMap type="UserLogin" id="userLoginResultMap">
        <id property="id" column="ID"/>
        <id property="userId" column="USER_ID"/>
        <id property="userName" column="USER_NAME"/>
        <id property="mobileNo" column="MOBILE_NO"/>
        <id property="locationInfo" column="LOCATION_INFO"/>
        <id property="primaryPwd" column="PRIMARY_PWD"/>
        <id property="newPwd" column="NEW_PWD"/>
        <id property="loginType" column="LOGIN_TYPE"/>
        <id property="loginIp" column="LOGIN_IP"/>
        <id property="errorReson" column="ERROR_RESON"/>
        <id property="loginStatus" column="LOGINSTATUS"/>
        <id property="loginDate" column="LOGIN_DATE"/>
        <id property="sessionKey" column="SESSION_KEY"/>
    </resultMap>


    <sql id="userColumns">
        <![CDATA[

		USER_ID,MOBILE_NO,USER_NAME,USER_PWD,SALT,DEVICE_TOKEN,ID_CARD,REFERRAL_CODE,STATUS,
		IS_FIRST_ORDER,REG_DATE,CREATE_DATE,UPDATE_DATE,NICKNAME,HEAD_IMAGE,GENDER,EMAIL
        ]]>
	</sql>


    <sql id="pagination">
        <![CDATA[
	    limit #{currentPage}, #{pageSize}
        ]]>
	</sql>


    <insert id="insertUserLoginLog" parameterType="User" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO TL_USER_LOGIN (ID,USER_ID,USER_NAME,MOBILE_NO,LOCATION_INFO,PRIMARY_PWD,NEW_PWD,LOGIN_TYPE,LOGIN_IP,ERROR_RESON,LOGINSTATUS,LOGIN_DATE,SESSION_KEY)
	VALUES (#{id},#{userId},#{userName},#{mobileNo},#{locationInfo},#{primaryPwd},#{newPwd},#{loginType},#{loginIp},#{errorReson},#{loginStatus},#{loginDate},#{sessionKey})
	</insert>


    <select id="getUserByMobileNo" resultMap="userResultMap">
        SELECT
        <include refid="userColumns"/>
        <![CDATA[  FROM TS_USER WHERE MOBILE_NO=#{mobileNo} ]]>
    </select>


    <select id="countUser" resultType="java.lang.Integer">
        <![CDATA[
            select COUNT(t.USER_ID) from TS_USER t where t.MOBILE_NO=#{mobileNo}
        ]]>
	</select>


    <select id="queryPage" resultType="User">
        SELECT id,
        <include refid="userColumns"/>
        from user where 1=1
        <if test="object.mobile != null">
            and mobile=#{object.mobile}
        </if>

        <if test="object.queryPassWord != null">
            and queryPassWord=#{object.queryPassWord}
        </if>
        order by id
        <include refid="pagination"/>
    </select>


    <select id="findLastUserLoginLog" resultMap="userLoginResultMap">
		SELECT ID,USER_ID,USER_NAME,MOBILE_NO,
		LOCATION_INFO,PRIMARY_PWD,NEW_PWD,LOGIN_TYPE,LOGIN_IP,ERROR_RESON,LOGINSTATUS,LOGIN_DATE,SESSION_KEY
		FROM TL_USER_LOGIN
		WHERE USER_ID=#{userId} AND LOGINSTATUS='0' ORDER BY LOGIN_DATE DESC LIMIT 1
	</select>

    <!-- update password -->
    <update id="updateUserPwd">
		UPDATE TS_USER SET USER_PWD=#{newPwd} WHERE MOBILE_NO=#{mobileNo}
	</update>
    <!-- retrieve password -->
    <update id="retrieveUserPwd">
		UPDATE TS_USER SET USER_PWD=#{newPwd} WHERE MOBILE_NO=#{mobileNo}
	</update>



    <insert id="insertUserSubmit" keyProperty="id">
		INSERT INTO TR_USER_TEMP_SUBMIT (ID,USER_ID,SUBMIT_TIME)
		VALUES (#{id},#{userId},now())
	</insert>

    <select id="getSubmitTime" resultType="java.lang.String">
		SELECT SUBMIT_TIME FROM TR_USER_TEMP_SUBMIT
		WHERE  USER_ID = #{userId}
	</select>


    <update id="updateUser" parameterType="User">
		UPDATE TS_USER  SET USER_NAME=#{userName},MOBILE_NO=#{mobile},DEVICE_TOKEN=#{deviceToken},USER_PWD=#{password},NAME_AUTH_STATUS=#{certification},ID_CARD=#{cardId},
						 STATUS=#{status},CREATE_DATE=#{createDate},UPDATE_DATE=#{updateDate},REFERRAL_CODE=#{referralCode},BANK_AUTH_STATUS=#{bankAuthStatus},
						 INVEST_STATUS=#{investStatus},UMPAY_USER_NO=#{umpayUserNo},UMPAY_ACCOUNT_NO=#{umpayAccountNo},GUEST_TYPE=#{guestType},IS_EXPERIENCE=#{isExperience},
						 IS_STAFF=#{isStaff},IS_FIRST_ORDER=#{isFirstOrder},REG_DATE=#{regDate},USER_LEVEL_ID=#{userLevelId} WHERE USER_ID=#{id}
	</update>


    <update id="updatLastUserLoginLogById">
		UPDATE TL_USER_LOGIN SET LOGINSTATUS=#{status} WHERE ID=#{id}
	</update>

    <!--<select id="findUserInfoList" resultMap="userInfoListResultMap">-->
		<!--select u.USER_ID,u.USER_NAME,u.MOBILE_NO,u.DEVICE_TOKEN,u.NAME_AUTH_STATUS,u.ID_CARD,u.STATUS,u.CREATE_DATE,u.REFERRAL_CODE,u.BANK_AUTH_STATUS,u.INVEST_STATUS,u.UMPAY_USER_NO,-->
		<!--u.GUEST_TYPE,u.IS_EXPERIENCE,u.IS_STAFF,u.IS_FIRST_ORDER,u.REG_DATE,u.USER_LEVEL_ID,-->
		<!--a.BANK_NO,a.BELONG_BANK,a.PRE_MOBILE_NO-->
		 <!--from TS_USER u-->
		<!--LEFT JOIN TT_BANK_ACCOUNT a-->
		<!--on u.USER_ID=a.USER_ID and a.`STATUS`='1'-->
		<!--LIMIT #{currentPage},#{pageSize}-->
	<!--</select>-->

    <select id="findUserInfoListCount" resultType="java.lang.Integer">
		select count(*) from TS_USER u
		LEFT JOIN TT_BANK_ACCOUNT a
		on u.USER_ID=a.USER_ID and a.`STATUS`='1'
	</select>

    <select id="getUserById" resultMap="userResultMap">
        SELECT
        <include refid="userColumns"/>
        <![CDATA[  FROM TS_USER WHERE USER_ID=#{userId} ]]>
    </select>

    <update id="updateUserLevel">
		UPDATE TT_USER_LEVEL l
		SET LEVEL = #{toLevel},UPDATE_DATE=SYSDATE()
		WHERE
		LEVEL = #{fromLevel}
		AND l.USER_ID = #{userId}
	</update>
    <!--<insert id="insertUserExt">-->
		<!--INSERT INTO TS_USER_EXP SET-->
		<!--ID=#{id},USER_ID=#{userId},CHANNEL=#{channel},CREATE_DATE=SYSDATE()-->
	<!--</insert>-->



    <sql id="Base_Column_List">
        USER_ID, MOBILE_NO, USER_NAME, USER_PWD, SALT, DEVICE_TOKEN, ID_CARD, REFERRAL_CODE,
        STATUS, IS_FIRST_ORDER, REG_DATE, CREATE_DATE, UPDATE_DATE, NICKNAME, HEAD_IMAGE,
        GENDER, EMAIL
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="userResultMap">
        select
        <include refid="Base_Column_List" />
        from TS_USER
        where USER_ID = #{userId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from TS_USER
        where USER_ID = #{userId,jdbcType=BIGINT}
    </delete>
    <insert id="insertUser" parameterType="User">
        insert into TS_USER (USER_ID, MOBILE_NO, USER_NAME,
        USER_PWD, SALT, DEVICE_TOKEN,
        ID_CARD, REFERRAL_CODE, STATUS,
        IS_FIRST_ORDER, REG_DATE, CREATE_DATE,
        UPDATE_DATE, NICKNAME, HEAD_IMAGE,
        GENDER, EMAIL)
        values (#{userId}, #{mobileNo}, #{userName},
        #{password}, #{salt}, #{deviceToken},
        #{idCard}, #{referralCode}, #{status},
        #{isFirstOrder}, #{regDate}, now(),
        #{updateDate}, #{nickname}, #{headImage},
        #{gender}, #{email})
    </insert>
    <insert id="insertSelective" parameterType="User">
        insert into TS_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="mobileNo != null">
                MOBILE_NO,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="password != null">
                USER_PWD,
            </if>
            <if test="salt != null">
                SALT,
            </if>
            <if test="deviceToken != null">
                DEVICE_TOKEN,
            </if>
            <if test="idCard != null">
                ID_CARD,
            </if>
            <if test="referralCode != null">
                REFERRAL_CODE,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="isFirstOrder != null">
                IS_FIRST_ORDER,
            </if>
            <if test="regDate != null">
                REG_DATE,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="nickname != null">
                NICKNAME,
            </if>
            <if test="headImage != null">
                HEADIMAGE,
            </if>
            <if test="gender != null">
                GENDER,
            </if>
            <if test="email != null">
                EMAIL,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="mobileNo != null">
                #{mobileNo,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="deviceToken != null">
                #{deviceToken,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="referralCode != null">
                #{referralCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="isFirstOrder != null">
                #{isFirstOrder,jdbcType=INTEGER},
            </if>
            <if test="regDate != null">
                #{regDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="headImage != null">
                #{headImage,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.melody.generated.model.User">
        update TS_USER
        <set>
            <if test="mobileNo != null">
                MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                USER_PWD = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                SALT = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="deviceToken != null">
                DEVICE_TOKEN = #{deviceToken,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                ID_CARD = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="referralCode != null">
                REFERRAL_CODE = #{referralCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="isFirstOrder != null">
                IS_FIRST_ORDER = #{isFirstOrder,jdbcType=INTEGER},
            </if>
            <if test="regDate != null">
                REG_DATE = #{regDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="nickname != null">
                NICKNAME = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="headImage != null">
                HEAD_IMAGE = #{headImage,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                GENDER = #{gender,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where USER_ID = #{userId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="User">
        update TS_USER
        set MOBILE_NO = #{mobileNo},
        USER_NAME = #{userName},
        USER_PWD = #{password},
        SALT = #{salt},
        DEVICE_TOKEN = #{deviceToken},
        ID_CARD = #{idCard},
        REFERRAL_CODE = #{referralCode},
        STATUS = #{status},
        IS_FIRST_ORDER = #{isFirstOrder},
        REG_DATE = #{regDate},

        UPDATE_DATE = now(),
        NICKNAME = #{nickname},
        HEAD_IMAGE = #{headImage},
        GENDER = #{gender},
        EMAIL = #{email}
        where USER_ID = #{userId}
    </update>
</mapper>