/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.idea/
/.mvn/
/account/.mvn/
/admin/.mvn/
/admin/target/
/core/target/
/core/.mvn/
/logs/
/service-common/target/
/service-common/.mvn/

/web/target/
/web/.mvn/
/admin-web/.mvn/
/service-gateway/target/
/service-gateway/.mvn/
/service-product/.mvn/
/web2/
