/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.idea/
/.mvn/
/account/.mvn/
/admin/.mvn/
/admin/target/
/core/target/
/core/.mvn/
/logs/
/service-common/target/
/service-common/.mvn/

/web/target/
/web/.mvn/
/admin-web/.mvn/
/service-gateway/target/
/service-gateway/.mvn/
/service-product/.mvn/
/web2/
/dump.rdb
/zookeeper.out
admin-web/src/main/java/com/melody/web/base/
admin-web/src/main/java/com/melody/web/support/
admin-web/src/main/java/controller/
admin-web/src/main/resources/i18n/messages/
dump.rdb
service-common/src/main/java/com/melody/common/redis/
web/src/main/java/controller/
web/src/main/resources/i18n/messages/
web/src/main/resources/t1/t2/
zookeeper.out
melody/
