<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.dao.AdminSPUMapper">
    <resultMap id="BaseResultMap" type="SPU">
        <id column="ID" jdbcType="BIGINT" property="id" />
        <result column="SPU_NAME" jdbcType="VARCHAR" property="spuName" />
        <result column="SPU_CODE" jdbcType="VARCHAR" property="spuCode" />
        <result column="SPU_DESC" property="spuDesc" />
        <result column="SPU_TYPE" property="spuType" />
        <result column="SPU_DOC" property="spuDoc" />
        <result column="SPU_EN_DESC"  property="spuEnDesc" />
        <result column="DETAIL" jdbcType="VARCHAR" property="detail" />
        <result column="CATEGORY_CODE" jdbcType="VARCHAR" property="categoryCode" />
        <result column="BRAND_CODE" jdbcType="VARCHAR" property="brandCode" />
    </resultMap>

    <resultMap id="SpuAttrResultMap" type="SpuAttr">
        <id column="ID"  property="id" />
        <result column="ATTR_ID"  property="attrId" />
        <result column="SPU_CODE"  property="spuCode" />
        <result column="SORT_ORDER" property="sortOrder" />
        <result column="ATTR_NAME" jdbcType="VARCHAR" property="attrName" />
        <result column="ATTR_CODE" jdbcType="VARCHAR" property="attrCode" />
        <result column="ATTR_INPUT_TYPE" jdbcType="BIT" property="attrInputType" />
        <result column="ATTR_TYPE" jdbcType="BIT" property="attrType" />
        <result column="ATTR_VALUES" jdbcType="VARCHAR" property="attrValues" />
        <result column="ATTR_INDEX" jdbcType="BIT" property="attrIndex" />
        <result column="IS_LINKED" jdbcType="BIT" property="isLinked" />
    </resultMap>

    <resultMap id="SpuComponentResultMap" type="SpuComponent">
        <id column="ID"  property="id" />
        <result column="SPU_CODE"  property="spuCode" />
        <result column="SUB_SPU_CODE" property="subSpuCode" />
        <result column="SUB_NUM"  property="subNum" />
        <result column="SPU_NAME" property="spuName" />
    </resultMap>

    <resultMap id="SpuDesignerResultMap" type="SpuDesigner">
        <id column="ID"  property="id" />
        <result column="SPU_CODE"  property="spuCode" />
        <result column="DESIGNER_ID" property="designerId" />
        <result column="DESIGNER_NAME"  property="designerName" />
    </resultMap>
    <resultMap id="SpuSpaceResultMap" type="SpuSpace">
        <id column="ID"  property="id" />
        <result column="SPU_CODE"  property="spuCode" />
        <result column="SPACE_ID" property="spaceId" />
        <result column="SPACE_NAME"  property="spaceName" />
    </resultMap>


    <sql id="Base_Column_List">
        ID, SPU_NAME, SPU_CODE,SPU_TYPE,SPU_DOC, SPU_DESC, SPU_EN_DESC, DETAIL, CATEGORY_CODE, BRAND_CODE
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TT_SPU
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteBySPUId" parameterType="java.lang.Long">
        delete from TT_SPU
        where ID = #{id}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="SPU" useGeneratedKeys="true">
        insert into TT_SPU (ID, SPU_NAME, SPU_CODE, SPU_TYPE,SPU_DOC,SPU_DESC, SPU_EN_DESC, DETAIL,
        CATEGORY_CODE, BRAND_CODE)
        values (#{id},#{spuName}, #{spuCode}, #{spuType},#{spuDoc},  #{spuDesc}, #{spuEnDesc},
        #{detail,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR}, #{brandCode,jdbcType=VARCHAR}
        )
    </insert>


    <insert id="insertSpuAttr"  parameterType="SpuAttr">
        insert into TR_SPU_ATTR (ID, ATTR_ID, SPU_CODE, SORT_ORDER)
        values (#{id},#{attrId}, #{spuCode}, #{sortOrder} )
    </insert>

    <insert id="insertSpuComponent"  parameterType="SpuComponent">
        insert into TR_SPU_COMPONENT (ID, SPU_CODE, SUB_SPU_CODE, SUB_NUM)
        values (#{id},#{spuCode}, #{subSpuCode}, #{subNum} )
    </insert>
    <insert id="insertSpuDesigner"  parameterType="SpuDesigner">
        insert into TR_SPU_DESIGNER (ID, SPU_CODE, DESIGNER_ID)
        values (#{id},#{spuCode}, #{designerId} )
    </insert>
    <insert id="insertSpuSpace">
        insert into TR_SPU_SPACE (ID, SPU_CODE, SPACE_ID)
        values (#{id},#{spuCode}, #{spaceId} )
    </insert>

    <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="SPU" useGeneratedKeys="true">
        insert into TT_SPU
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spuName != null">
                SPU_NAME,
            </if>
            <if test="spuCode != null">
                SPU_CODE,
            </if>
            <if test="description != null">
                DESCRIPTION,
            </if>
            <if test="detail != null">
                DETAIL,
            </if>
            <if test="categoryCode != null">
                CATEGORY_CODE,
            </if>
            <if test="brandCode != null">
                BRAND_CODE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="spuName != null">
                #{spuName,jdbcType=VARCHAR},
            </if>
            <if test="spuCode != null">
                #{spuCode,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="categoryCode != null">
                #{categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="brandCode != null">
                #{brandCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="SPU">
        update TT_SPU
        <set>
            <if test="spuName != null">
                SPU_NAME = #{spuName,jdbcType=VARCHAR},
            </if>
            <if test="spuType != null">
                SPU_TYPE = #{spuType},
            </if>
            <if test="spuDoc != null">
                SPU_DOC = #{spuDoc},
            </if>
            <if test="spuCode != null">
                SPU_CODE = #{spuCode,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                DETAIL = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="categoryCode != null">
                CATEGORY_CODE = #{categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="brandCode != null">
                BRAND_CODE = #{brandCode,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="SPU">
        update TT_SPU
        set SPU_NAME = #{spuName,jdbcType=VARCHAR},
        SPU_CODE = #{spuCode,jdbcType=VARCHAR},
        SPU_DESC = #{spuDesc},
        SPU_DOC = #{spuDoc},
        SPU_TYPE = #{spuType},
        SPU_EN_DESC = #{spuEnDesc},
        DETAIL = #{detail,jdbcType=VARCHAR},
        CATEGORY_CODE = #{categoryCode,jdbcType=VARCHAR},
        BRAND_CODE = #{brandCode,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=BIGINT}
    </update>


    <update id="updateSpuAttrById">
        update TR_SPU_ATTR
        set ATTR_ID = #{attrId},
        SORT_ORDER = #{sortOrder}
        where ID = #{id} AND SPU_CODE = #{spuCode}
    </update>

    <select id="countAllSPU" resultType="java.lang.Integer">
        select count(*) FROM TT_SPU;
    </select>


    <select id="querySPUList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TT_SPU
    </select>


    <select id="getSpuAttrBySpuCode" resultMap="SpuAttrResultMap">
      SELECT
      tsa.ID,
      tsa.ATTR_ID,
      tsa.SPU_CODE,
      tsa.SORT_ORDER,
      ta.ATTR_NAME,
      ta.ATTR_CODE,
      ta.ATTR_INPUT_TYPE,
      ta.ATTR_TYPE,
      ta.ATTR_VALUES,
      ta.ATTR_INDEX,
      ta.IS_LINKED
      FROM TR_SPU_ATTR tsa
      LEFT JOIN TT_ATTR ta ON ta.ATTR_ID = tsa.ATTR_ID
      WHERE tsa.SPU_CODE = #{spuCode}
      ORDER by tsa.SORT_ORDER
    </select>

    <select id="querySPUByBC" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TT_SPU
        WHERE CATEGORY_CODE = #{categoryCode} AND BRAND_CODE = #{brandCode}
    </select>


    <select id="querySPUBySpuCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TT_SPU
        WHERE SPU_CODE = #{spuCode}
    </select>

    <update id="updateSPUByPrimaryKeySelective" parameterType="SPU">
        update TT_SPU
        <set>
            <if test="spuName != null">
                SPU_NAME = #{spuName},
            </if>
            <if test="spuType != null">
                SPU_TYPE = #{spuType},
            </if>
            <if test="spuDoc != null">
                SPU_DOC = #{spuDoc},
            </if>
            <if test="spuDesc != null">
                SPU_DESC = #{spuDesc},
            </if>
            <if test="spuEnDesc != null">
                SPU_EN_DESC = #{spuEnDesc},
            </if>
            <if test="detail != null">
                DETAIL = #{detail},
            </if>
            <if test="categoryCode != null">
                CATEGORY_CODE = #{categoryCode},
            </if>
            <if test="brandCode != null">
                BRAND_CODE = #{brandCode},
            </if>
        </set>
        where SPU_CODE = #{spuCode}
    </update>

    <delete id="deleteSpuAttr">
        DELETE FROM TR_SPU_ATTR
        WHERE ATTR_ID = #{attrId} AND SPU_CODE = #{spuCode}
    </delete>

    <select id="getSpuComponentBySpuCode" resultMap="SpuComponentResultMap">
        SELECT
        tsc.ID,
        tsc.SPU_CODE,
        tsc.SUB_SPU_CODE,
        tsc.SUB_NUM,
        tsp.SPU_NAME
        FROM TR_SPU_COMPONENT tsc
        LEFT JOIN TT_SPU tsp ON tsp.SPU_CODE = tsc.SUB_SPU_CODE
        WHERE tsc.SPU_CODE = #{spuCode}
    </select>

    <delete id="deleteSpuComponent">
        DELETE FROM TR_SPU_COMPONENT
        WHERE SPU_CODE = #{spuCode} AND SUB_SPU_CODE = #{subSpuCode}
    </delete>

    <delete id="deleteSpuDesigner">
        DELETE FROM TR_SPU_DESIGNER
        WHERE SPU_CODE = #{spuCode} AND DESIGNER_ID = #{designerId}
    </delete>


    <update id="updateSpuComponentById">
        update TR_SPU_COMPONENT
        set SUB_SPU_CODE = #{subSpuCode},
        SUB_NUM = #{subNum}
        where ID = #{id} AND SPU_CODE = #{spuCode}
    </update>

    <update id="updateSpuDesignerById">
        update TR_SPU_DESIGNER
        set DESIGNER_ID = #{designerId}
        where ID = #{id} AND SPU_CODE = #{spuCode}
    </update>


    <select id="getSpuDesignerBySpuCode" resultMap="SpuDesignerResultMap">
        SELECT
        tsd.ID,
        tsd.SPU_CODE,
        tsd.DESIGNER_ID,
        tu.USER_NAME as DESIGNER_NAME
        FROM TR_SPU_DESIGNER tsd
        LEFT JOIN TS_USER tu ON tu.USER_ID = tsd.DESIGNER_ID
        WHERE tsd.SPU_CODE = #{spuCode}
    </select>


    <select id="getSpuSpaceBySpuCode" resultMap="SpuSpaceResultMap">
        SELECT
        tsp.ID,
        tsp.SPU_CODE,
        tsp.SPACE_ID,
        tp.SPACE_NAME
        FROM TR_SPU_SPACE tsp
        LEFT JOIN TT_SPACE tp ON tp.ID = tsp.SPACE_ID
        WHERE tsp.SPU_CODE = #{spuCode}
    </select>


</mapper>