<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.dao.AdminBrandMapper">
    <resultMap id="BrandResultMap" type="Brand">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="BRAND_NAME" jdbcType="VARCHAR" property="brandName"/>
        <result column="BRAND_EN_NAME" jdbcType="VARCHAR" property="brandEnName"/>
        <result column="BRAND_DESC" jdbcType="VARCHAR" property="brandDesc"/>
        <result column="BRAND_EN_DESC" jdbcType="VARCHAR" property="brandEnDesc"/>
        <result column="BRAND_CODE" jdbcType="VARCHAR" property="brandCode"/>
        <result column="BRAND_LOGO" jdbcType="VARCHAR" property="brandLogo"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="HOMEPAGE" jdbcType="VARCHAR" property="homepage"/>
        <result column="BRAND_STORY" jdbcType="VARCHAR" property="brandStory"/>
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_DATE" property="updateDate"/>
    </resultMap>
    <sql id="Brand_Column_List">
        <![CDATA[
        ID, BRAND_NAME, BRAND_EN_NAME,
        BRAND_DESC, BRAND_EN_DESC, BRAND_CODE, BRAND_LOGO, STATUS, HOMEPAGE, BRAND_STORY, PARENT_ID,
        CREATE_DATE, UPDATE_DATE
            ]]>
    </sql>

    <sql id="pagination">
        <![CDATA[
	    limit #{offset}, #{pageSize}
        ]]>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BrandResultMap">
        select
        <include refid="Brand_Column_List"/>
        from TT_BRAND
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from TT_BRAND
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="Brand" useGeneratedKeys="true">
        insert into TT_BRAND
        (<include refid="Brand_Column_List"/>)
        values (#{id}, #{brandName}, #{brandEnName},
        #{brandDesc}, #{brandEnDesc}, #{brandCode}, #{brandLogo}, #{status}, #{homepage},
        #{brandStory}, #{parentId}, now(), #{updateDate} )
    </insert>
    <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="Brand" useGeneratedKeys="true">
        insert into TT_BRAND
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brandName != null">
                BRAND_NAME,
            </if>
            <if test="brandCode != null">
                BRAND_CODE,
            </if>
            <if test="brandImageUrl != null">
                BRAND_IMAGE_URL,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="brandCode != null">
                #{brandCode,jdbcType=VARCHAR},
            </if>
            <if test="brandImageUrl != null">
                #{brandImageUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="Brand">
        update TT_BRAND
        <set>
            <if test="brandName != null">
                BRAND_NAME = #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="brandCode != null">
                BRAND_CODE = #{brandCode,jdbcType=VARCHAR},
            </if>
            <if test="brandImageUrl != null">
                BRAND_IMAGE_URL = #{brandImageUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="Brand">
        update TT_BRAND
        set BRAND_NAME = #{brandName,jdbcType=VARCHAR},
        BRAND_CODE = #{brandCode,jdbcType=VARCHAR},
        BRAND_LOGO = #{brandLogo,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=INTEGER}
    </update>



    <update id="updateBrand">
        update TT_BRAND
        set STATUS = #{status},
        UPDATE_DATE = now()
        where ID = #{id}
    </update>

    <select id="countAllBrand" resultType="java.lang.Integer">
        select count(*) FROM TT_BRAND
        WHERE STATUS = '1'
    </select>


    <select id="queryBrandList" resultMap="BrandResultMap">
        select
        <include refid="Brand_Column_List"/>
        from TT_BRAND
        WHERE STATUS = '1'
        <include refid="pagination"/>
    </select>



</mapper>