<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.dao.AdminFeatureMapper">

    <resultMap id="FeatureResultMap" type="Feature">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="FEATURE_NAME" jdbcType="VARCHAR" property="featureName"/>
        <result column="CATEGORY_CODE" jdbcType="VARCHAR" property="categoryCode"/>
        <result column="CATEGORY_NAME" property="categoryName"/>
    </resultMap>

    <resultMap id="FeatureOptionResultMap" type="FeatureOption">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="FEATURE_ID" property="featureId"/>
        <result column="FEATURE_VALUE" property="featureValue"/>

    </resultMap>


    <sql id="Feature_Column_List">
        ID, FEATURE_NAME, CATEGORY_CODE
    </sql>

    <sql id="FeatureOption_Column_List">
        ID, FEATURE_ID, FEATURE_VALUE
    </sql>
    <!--<resultMap id="FeatureOptionResultMap" type="FeatureOption">-->
    <!--<id column="ID" jdbcType="BIGINT" property="id" />-->
    <!--<result column="FEATURE_NAME" jdbcType="VARCHAR" property="featureName" />-->
    <!--<result column="CATEGORY_CODE" jdbcType="VARCHAR" property="categoryCode" />-->
    <!--</resultMap>-->

    <!--<sql id="Feature_Option_Column_List">-->
    <!--ID, FEATURE_NAME, CATEGORY_CODE-->
    <!--</sql>-->

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="FeatureResultMap">
        select
        <include refid="Feature_Column_List"/>
        from TT_FEATURE
        where ID = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
       delete from TT_FEATURE
        where ID = #{id}
    </delete>

    <delete id="deleteOptionById" parameterType="java.lang.Long">
        delete from TR_FEATURE_OPTION
        where FEATURE_ID = #{id}
    </delete>

    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="Feature" useGeneratedKeys="true">
        insert into TT_FEATURE (ID, FEATURE_NAME, CATEGORY_CODE)
        values (#{id}, #{featureName}, #{categoryCode})
    </insert>

    <insert id="insertFeatureOption" keyColumn="ID" keyProperty="id" parameterType="FeatureOption"
            useGeneratedKeys="true">
        insert into TR_FEATURE_OPTION (ID, FEATURE_ID, FEATURE_VALUE)
        values (#{id}, #{featureId}, #{featureValue})
    </insert>


    <insert id="insertSelective" keyColumn="ID" keyProperty="id"
            parameterType="Feature" useGeneratedKeys="true">
        insert into TT_FEATURE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="featureName != null">
                FEATURE_NAME,
            </if>
            <if test="categoryCode != null">
                CATEGORY_CODE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="featureName != null">
                #{featureName,jdbcType=VARCHAR},
            </if>
            <if test="categoryCode != null">
                #{categoryCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="Feature">
        update TT_FEATURE
        <set>
            <if test="featureName != null">
                FEATURE_NAME = #{featureName,jdbcType=VARCHAR},
            </if>
            <if test="categoryCode != null">
                CATEGORY_CODE = #{categoryCode,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="Feature">
        update TT_FEATURE
        set FEATURE_NAME = #{featureName,jdbcType=VARCHAR},
        CATEGORY_CODE = #{categoryCode,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <select id="countAllFeature" resultType="java.lang.Integer">
        select count(*) FROM TT_FEATURE;
    </select>


    <select id="queryFeatureList" resultMap="FeatureResultMap">
        select
        ttf.ID, ttf.FEATURE_NAME, ttf.CATEGORY_CODE,
        ttc.CATEGORY_NAME
        from TT_FEATURE ttf
        LEFT JOIN TT_CATEGORY ttc
        ON ttf.CATEGORY_CODE = ttc.CATEGORY_CODE
    </select>

    <select id="queryFeatureListByCategory" resultMap="FeatureResultMap">
       select
        ttf.ID, ttf.FEATURE_NAME, ttf.CATEGORY_CODE,
        ttc.CATEGORY_NAME
        from TT_FEATURE ttf
        LEFT JOIN TT_CATEGORY ttc
        ON ttf.CATEGORY_CODE = ttc.CATEGORY_CODE
        WHERE ttc.CATEGORY_CODE = #{categoryCode}
    </select>

    <select id="queryFeatureOption" resultMap="FeatureOptionResultMap">
        select
        trfo.ID, trfo.FEATURE_ID, trfo.FEATURE_VALUE
        from TR_FEATURE_OPTION trfo
        WHERE trfo.FEATURE_ID = #{featureId}
    </select>


</mapper>