<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.dao.AdminUserSkuDiscountMapper">
  <resultMap id="BaseResultMap" type="UserSkuDiscount">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SKU_NO" jdbcType="VARCHAR" property="skuNo" />
    <result column="USER_LEVEL_ID" jdbcType="INTEGER" property="userLevelId" />
    <result column="DISCOUNT" jdbcType="DECIMAL" property="discount" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SKU_NO, USER_LEVEL_ID, DISCOUNT, STATUS, CREATE_DATE, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TR_USER_SKU_DISCOUNT
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TR_USER_SKU_DISCOUNT
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="UserSkuDiscount" useGeneratedKeys="true">
    insert into TR_USER_SKU_DISCOUNT (SKU_NO, USER_LEVEL_ID, DISCOUNT, 
      STATUS, CREATE_DATE, UPDATE_DATE
      )
    values (#{skuNo,jdbcType=VARCHAR}, #{userLevelId,jdbcType=INTEGER}, #{discount,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="UserSkuDiscount" useGeneratedKeys="true">
    insert into TR_USER_SKU_DISCOUNT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuNo != null">
        SKU_NO,
      </if>
      <if test="userLevelId != null">
        USER_LEVEL_ID,
      </if>
      <if test="discount != null">
        DISCOUNT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuNo != null">
        #{skuNo,jdbcType=VARCHAR},
      </if>
      <if test="userLevelId != null">
        #{userLevelId,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="UserSkuDiscount">
    update TR_USER_SKU_DISCOUNT
    <set>
      <if test="skuNo != null">
        SKU_NO = #{skuNo,jdbcType=VARCHAR},
      </if>
      <if test="userLevelId != null">
        USER_LEVEL_ID = #{userLevelId,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        DISCOUNT = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="UserSkuDiscount">
    update TR_USER_SKU_DISCOUNT
    set SKU_NO = #{skuNo,jdbcType=VARCHAR},
      USER_LEVEL_ID = #{userLevelId,jdbcType=INTEGER},
      DISCOUNT = #{discount,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>