<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.dao.AdminSKUMapper">
    <resultMap id="BaseResultMap" type="SKU">
    <id column="SKU_NO" jdbcType="VARCHAR" property="skuNo"/>
    <result column="ID" jdbcType="BIGINT" property="id"/>
    <result column="SKU_NAME" jdbcType="VARCHAR" property="skuName"/>
    <result column="SKU_DESC" jdbcType="VARCHAR" property="skuDesc"/>
    <result column="SKU_EN_DESC" jdbcType="VARCHAR" property="skuEnDesc"/>
    <result column="STATUS" jdbcType="VARCHAR" property="status"/>
    <result column="SPU_CODE" jdbcType="VARCHAR" property="spuCode"/>
        <result column="CREATE_DATE"  property="createDate"/>
        <result column="UPDATE_DATE" property="updateDate"/>
</resultMap>

    <sql id="Base_Column_List">
         ID,  SKU_NO, SKU_NAME, SKU_DESC,  SKU_EN_DESC,  STATUS, SPU_CODE,
         CREATE_DATE, UPDATE_DATE
    </sql>




    <resultMap id="InventoryResultMap" type="SkuInventory">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="SKU_NO" jdbcType="VARCHAR" property="skuNo"/>
        <result column="TOTAL_NUM" jdbcType="VARCHAR" property="totalNum"/>
        <result column="SELLABLE_NUM" jdbcType="VARCHAR" property="sellableNum"/>
        <result column="ORDER_OCCUPIED_NUM" jdbcType="TIMESTAMP" property="orderOccupiedNum"/>
        <result column="UNAVAILABLE_NUM" jdbcType="TIMESTAMP" property="unavailableNum"/>
        <result column="LOCKED_NUM" jdbcType="INTEGER" property="lockedNum"/>
    </resultMap>

    <sql id="Inventory_Column_List">
        ID, SKU_NO, TOTAL_NUM, SELLABLE_NUM, ORDER_OCCUPIED_NUM, UNAVAILABLE_NUM, LOCKED_NUM
    </sql>

    <resultMap id="SkuPriceResultMap" type="SkuPrice">
        <id column="ID" property="id"/>
        <result column="SKU_NO" property="skuNo"/>
        <result column="LIST_PRICE"  property="listPrice"/>
        <result column="SALE_PRICE"  property="salePrice"/>
        <result column="SPECIAL_PRICE"  property="specialPrice"/>
        <result column="IMPORT_PRICE"  property="importPrice"/>
        <result column="COST_PRICE"  property="costPrice"/>
        <result column="DISCOUNT_PRICE" jdbcType="INTEGER" property="discountPrice"/>
    </resultMap>
    <sql id="SkuPrice_Column_List">
        ID, SKU_NO, LIST_PRICE, SALE_PRICE, SPECIAL_PRICE, IMPORT_PRICE,
        COST_PRICE,  DISCOUNT_PRICE
    </sql>

    <resultMap id="UserSkuDiscountResultMap" type="UserSkuDiscount">
        <id column="ID" property="id"/>
        <result column="SKU_NO" property="skuNo"/>
        <result column="USER_LEVEL_ID"  property="userLevelId"/>
        <result column="DISCOUNT"  property="discount"/>
        <result column="STATUS"  property="status"/>
    </resultMap>

    <sql id="UserSkuDiscount_Column_List">
        ID, SKU_NO, USER_LEVEL_ID, DISCOUNT, STATUS
    </sql>

    <sql id="pagination">
        <![CDATA[
	    limit #{offset}, #{pageSize}
        ]]>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TT_SKU
        where SKU_NO = #{skuNo,jdbcType=VARCHAR}
    </select>
    <delete id="deleteBySPUId" parameterType="java.lang.Long">
        delete from TT_SKU
        USING TT_SKU, TT_SPU
        where TT_SKU.SPU_CODE = TT_SPU.SPU_CODE AND TT_SPU.ID = #{id}
    </delete>

    <insert id="insertSKUInventory" keyColumn="ID" keyProperty="id" parameterType="SkuInventory" useGeneratedKeys="true">
        insert into TR_SKU_INVENTORY
        (<include refid="Inventory_Column_List"/>)
        values (#{id}, #{skuNo}, #{totalNum}, #{sellableNum},#{orderOccupiedNum}, #{unavailableNum},#{lockedNum})
    </insert>

    <insert id="insertSKUPrice" keyColumn="ID" keyProperty="id" parameterType="SkuPrice" useGeneratedKeys="true">
        insert into TR_SKU_PRICE
        (<include refid="SkuPrice_Column_List"/>)
        values (#{id}, #{skuNo}, #{listPrice}, #{salePrice},#{specialPrice}, #{importPrice},#{costPrice},#{discountPrice}
        )
    </insert>
    <insert id="insertUserSKUDiscount" keyColumn="ID" keyProperty="id" parameterType="UserSkuDiscount" useGeneratedKeys="true">
        insert into TR_USER_SKU_DISCOUNT
        (<include refid="UserSkuDiscount_Column_List"/>)
        values (#{id}, #{skuNo}, #{userLevelId}, #{discount},#{status}
        )
    </insert>


    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="SKU" useGeneratedKeys="true">
        insert into TT_SKU (ID, SKU_NO, SKU_NAME,
        SKU_DESC,  SKU_EN_DESC,
        STATUS, SPU_CODE, CREATE_DATE
        )
        values (#{id}, #{skuNo}, #{skuName,jdbcType=VARCHAR},
         #{skuDesc},  #{skuEnDesc},
        #{status}, #{spuCode}, now()
        )
    </insert>
    <insert id="insertSKUImage" keyColumn="ID" keyProperty="id" parameterType="SkuImage" useGeneratedKeys="true">
        insert into TR_SKU_IMAGE (ID, SKU_NO, IS_MAIN, PIC_URL, PIC_SEQ,CREATE_DATE)
        values (#{id}, #{skuNo}, #{isMain}, #{picUrl}, #{picSeq},  now())
    </insert>

    <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="SKU" useGeneratedKeys="true">
        insert into TT_SKU
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skuNo != null">
                SKU_NO,
            </if>
            <if test="skuName != null">
                SKU_NAME,
            </if>
            <if test="productPlace != null">
                PRODUCT_PLACE,
            </if>
            <if test="chuchangTime != null">
                CHUCHANG_TIME,
            </if>
            <if test="expirationTime != null">
                EXPIRATION_TIME,
            </if>
            <if test="baozhiDay != null">
                BAOZHI_DAY,
            </if>
            <if test="totalNumber != null">
                TOTAL_NUMBER,
            </if>

            <if test="productDesc != null">
                PRODUCT_DESC,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="price != null">
                PRICE,
            </if>
            <if test="spuCode != null">
                SPU_CODE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skuNo != null">
                #{skuNo,jdbcType=VARCHAR},
            </if>
            <if test="skuName != null">
                #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="productPlace != null">
                #{productPlace,jdbcType=VARCHAR},
            </if>
            <if test="chuchangTime != null">
                #{chuchangTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expirationTime != null">
                #{expirationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="baozhiDay != null">
                #{baozhiDay,jdbcType=INTEGER},
            </if>
            <if test="totalNumber != null">
                #{totalNumber,jdbcType=INTEGER},
            </if>

            <if test="productDesc != null">
                #{productDesc,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="spuCode != null">
                #{spuCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="SKU">
        update TT_SKU
        <set>
            <if test="id != null">
                ID = #{id,jdbcType=BIGINT},
            </if>
            <if test="skuName != null">
                SKU_NAME = #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="productPlace != null">
                PRODUCT_PLACE = #{productPlace,jdbcType=VARCHAR},
            </if>
            <if test="chuchangTime != null">
                CHUCHANG_TIME = #{chuchangTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expirationTime != null">
                EXPIRATION_TIME = #{expirationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="baozhiDay != null">
                BAOZHI_DAY = #{baozhiDay,jdbcType=INTEGER},
            </if>
            <if test="totalNumber != null">
                TOTAL_NUMBER = #{totalNumber,jdbcType=INTEGER},
            </if>

            <if test="productDesc != null">
                PRODUCT_DESC = #{productDesc,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                PRICE = #{price,jdbcType=DECIMAL},
            </if>
            <if test="spuCode != null">
                SPU_CODE = #{spuCode,jdbcType=VARCHAR},
            </if>
        </set>
        where SKU_NO = #{skuNo,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="SKU">
        update TT_SKU
        set ID = #{id,jdbcType=BIGINT},
        SKU_NAME = #{skuName,jdbcType=VARCHAR},
        SKU_DESC = #{skuDesc},
        SKU_EN_DESC = #{skuEnDesc},
        STATUS = #{status,jdbcType=VARCHAR},
        SPU_CODE = #{spuCode,jdbcType=VARCHAR}
        where SKU_NO = #{skuNo,jdbcType=VARCHAR}
    </update>


    <update id="updateSKU">
        UPDATE TT_SKU
        set STATUS = #{status}, UPDATE_DATE=now()
       where SKU_NO = #{skuNo}
    </update>

    <select id="countAllSKU" resultType="java.lang.Integer">
        select count(*) FROM TT_SKU
        WHERE STATUS = '1'
    </select>


    <select id="querySKUList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TT_SKU
        WHERE STATUS = #{status}
        <include refid="pagination"/>
    </select>

    <insert id="insertSKUFeature">
        INSERT INTO TR_SKU_FEATURE (ID, SKU_NO, FEATURE_OPTION_ID)
        VALUES (#{id},#{skuNo},#{featureOptionId})
    </insert>


    <update id="updateSKUNum">
        UPDATE TR_SKU_INVENTORY
        SET SELLABLE_NUM = SELLABLE_NUM + #{num},
        ORDER_OCCUPIED_NUM = ORDER_OCCUPIED_NUM - #{num},
        UPDATE_DATE = now()
        WHERE SKU_NO = #{skuNo}
    </update>

</mapper>