<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.dao.SysPermMapper">

    <select id="getPermsByUserId" resultType="SysPerm">
        SELECT p.PNAME,p.PVAL FROM SYS_PERM p, SYS_ROLE_PERM rp, SYS_USER_ROLE ur
        WHERE p.PVAL = rp.PERM_VAL AND ur.ROLE_ID = rp.ROLE_ID
        AND ur.USER_ID = #{userId}
    </select>

    <select id="getPermsByRoleId" resultType="SysPerm">
        SELECT p.PVAL,p.PTYPE,p.LEAF FROM SYS_PERM p, SYS_ROLE_PERM rp
        WHERE p.PVAL = rp.PERM_VAL AND rp.ROLE_ID = #{roleId}
    </select>

    <insert id="saveOrUpdate">
        INSERT INTO SYS_PERM (PVAL,PARENT,PNAME,PTYPE,LEAF,CREATED) VALUES
        <foreach collection="perms" item="p" separator=",">
            (#{p.PVAL},#{p.PARENT},#{p.PNAME},#{p.PTYPE},#{p.LEAF},#{p.CREATED})
        </foreach>
        ON DUPLICATE KEY UPDATE
        PNAME = VALUES(pname), parent = VALUES(parent), PTYPE = VALUES(ptype), LEAF = VALUES(leaf), UPDATED = now()
    </insert>



</mapper>
