<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.dao.SysRoleMapper">

    <resultMap id="roleMap" type="SysRole">
        <id property="rid" column="RID"/>
        <result property="rname" column="RNAME" />
        <result property="rdesc" column="RDESC" />
        <result property="rval" column="RVAL" />
        <result property="created" column="CREATED" jdbcType="TIMESTAMP" />
        <result property="updated" column="UPDATED" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="getRolesByUserId" resultType="SysRole">
        SELECT r.RNAME,r.RVAL FROM SYS_ROLE r, SYS_USER_ROLE ur
        WHERE r.RID = ur.ROLE_ID AND ur.USER_ID = #{userId}
    </select>

    <select id="getRoleIdsByUserId" resultType="java.lang.String">
        SELECT r.RID FROM SYS_ROLE r, SYS_USER_ROLE ur
        WHERE r.RID = ur.ROLE_ID AND ur.USER_ID = #{userId}
    </select>

    <select id="checkRidsContainRval" resultType="java.lang.Boolean">
        SELECT
        CONCAT(',',GROUP_CONCAT(RVAL SEPARATOR ','),',')
        REGEXP CONCAT(',',#{RVAL},',{1}') AS result FROM SYS_ROLE
        WHERE RID IN
        <foreach collection="rids" item="rid" separator="," open="(" close=")">
            #{rid}
        </foreach>
    </select>

    <select id="checkUidContainRval" resultType="java.lang.Boolean">
        SELECT
        CONCAT(',',GROUP_CONCAT(r.RVAL SEPARATOR ','),',')
        REGEXP CONCAT(',',#{rval},',{1}') AS result FROM SYS_ROLE r, SYS_USER_ROLE ur
        WHERE ur.ROLE_ID = r.RID AND ur.USER_ID = #{uid}
    </select>


</mapper>
