<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.dao.SysUserMapper">

    <resultMap id="userMap" type="SysUser">
        <id property="uid" column="UID"/>
        <result property="uname"  column="UNAME" />
        <result property="nick"  column="NICK" />
        <result property="pwd"  column="PWD" />
        <result property="salt"  column="SALT" />
        <result property="lock"  column="LOCK" />
        <result property="created"  column="CREATED" jdbcType="TIMESTAMP" />
        <result property="updated"  column="UPDATED" jdbcType="TIMESTAMP" />
    </resultMap>

    <!-- 一对多：user、role -->
    <resultMap id="userIncludeRolesMap" extends="userMap" type="SysUser">
        <collection property="roleList" columnPrefix="role_" resultMap="com.melody.dao.SysRoleMapper.roleMap">
        </collection>
    </resultMap>

    <select id="selectUserIncludeRoles" resultMap="userIncludeRolesMap">
        select
          u.*,
          r.RID as role_rid,
          r.RNAME as role_rname,
          r.RDESC as role_rdesc,
          r.RVAL as role_rval,
          r.CREATED as role_created,
          r.UPDATED  as role_updated
        from SYS_USER u
        left join SYS_USER_ROLE ur on u.UID = ur.USER_ID
        left join SYS_ROLE r on ur.ROLE_ID = r.RID
        <where>
            <if test="nick != null and nick != ''">
                u.`NICK` like concat('%',#{nick},'%')
            </if>
        </where>
        order by u.UID
    </select>

</mapper>
