<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.generated.dao.ProjectCompanyMapper">
  <resultMap id="BaseResultMap" type="com.melody.generated.model.ProjectCompanyKey">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <id column="PROJECT_ID" jdbcType="BIGINT" property="projectId" />
    <id column="COMPANY_ID" jdbcType="BIGINT" property="companyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.melody.generated.model.ProjectCompanyKey">
    delete from TR_PROJECT_COMPANY
    where ID = #{id,jdbcType=BIGINT}
      and PROJECT_ID = #{projectId,jdbcType=BIGINT}
      and COMPANY_ID = #{companyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.ProjectCompanyKey" useGeneratedKeys="true">
    insert into TR_PROJECT_COMPANY (PROJECT_ID, COMPANY_ID)
    values (#{projectId,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.ProjectCompanyKey" useGeneratedKeys="true">
    insert into TR_PROJECT_COMPANY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="companyId != null">
        COMPANY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>