<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>-->
        <!--<setting name="logImpl" value="LOG4J"/>-->
    <!--</settings>-->
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias alias="User" type="com.melody.user.dto.User"/>
        <typeAlias alias="Account" type="com.melody.user.dto.Account"/>
        <typeAlias alias="BirdCoinAccount" type="com.melody.user.dto.BirdCoinAccount"/>
        <!--<typeAlias alias="AccountOrderTotal" type="com.wy.user.dto.AccountOrderTotal"/>-->
        <typeAlias alias="UserLogin" type="com.melody.user.dto.UserLogin"/>

        <typeAlias alias="Sequence" type="com.melody.base.Sequence"/>
        <typeAlias alias="UserLevel" type="com.melody.user.dto.UserLevel"/>
        <!--<typeAlias alias="UserAgreement" type="com.wy.user.dto.UserAgreement"/>-->
        <typeAlias alias="SKU" type="com.melody.product.dto.SKU"/>
        <typeAlias alias="SPU" type="com.melody.product.dto.SPU"/>
        <typeAlias alias="Category" type="com.melody.product.dto.Category"/>
        <typeAlias alias="Brand" type="com.melody.product.dto.Brand"/>
        <typeAlias alias="Feature" type="com.melody.product.dto.Feature"/>
        <typeAlias alias="FeatureOption" type="com.melody.product.dto.FeatureOption"/>
        <typeAlias alias="SkuFeature" type="com.melody.product.dto.SkuFeature"/>
        <typeAlias alias="SkuImage" type="com.melody.product.dto.SkuImage"/>


    </typeAliases>


</configuration>