<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias alias="User" type="com.melody.user.dto.User"/>
        <typeAlias alias="Account" type="com.melody.user.dto.Account"/>
        <typeAlias alias="BirdCoinAccount" type="com.melody.user.dto.BirdCoinAccount"/>
        <!--<typeAlias alias="AccountOrderTotal" type="com.wy.user.dto.AccountOrderTotal"/>-->
        <typeAlias alias="UserLogin" type="com.melody.user.dto.UserLogin"/>

        <typeAlias alias="Sequence" type="com.melody.base.Sequence"/>
        <typeAlias alias="UserLevel" type="com.melody.user.dto.UserLevel"/>
        <!--<typeAlias alias="UserAgreement" type="com.wy.user.dto.UserAgreement"/>-->
        <typeAlias alias="SKU" type="com.melody.product.dto.SKU"/>
        <typeAlias alias="SkuImage" type="com.melody.product.dto.SkuImage"/>
        <typeAlias alias="SkuFeature" type="com.melody.product.dto.SkuFeature"/>
        <typeAlias alias="Inventory" type="com.melody.product.dto.Inventory"/>
        <typeAlias alias="SkuPrice" type="com.melody.product.dto.SkuPrice"/>
        <typeAlias alias="UserSkuDiscount" type="com.melody.product.dto.UserSkuDiscount"/>

        <typeAlias alias="Order" type="com.melody.product.dto.Order"/>
        <typeAlias alias="OrderDetailResult" type="com.melody.product.dto.OrderDetailResult"/>
        <typeAlias alias="OrderExpress" type="com.melody.product.dto.OrderExpress"/>
        <typeAlias alias="OrderItem" type="com.melody.product.dto.OrderItem"/>
        <typeAlias alias="UserAddress" type="com.melody.user.dto.UserAddress"/>
        <typeAlias alias="TradeOrder" type="com.melody.product.dto.TradeOder"/>

        <typeAlias alias="Cart" type="com.melody.product.dto.Cart"/>
        <typeAlias alias="CartItem" type="com.melody.product.dto.CartItem"/>



    </typeAliases>


</configuration>