<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.generated.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.melody.generated.model.Category">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CATEGROY_NAME" jdbcType="VARCHAR" property="categroyName" />
    <result column="CATEGORY_CODE" jdbcType="VARCHAR" property="categoryCode" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CATEGROY_NAME, CATEGORY_CODE, PARENT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TT_CATEGORY
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TT_CATEGORY
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.Category" useGeneratedKeys="true">
    insert into TT_CATEGORY (CATEGROY_NAME, CATEGORY_CODE, PARENT_ID
      )
    values (#{categroyName,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.Category" useGeneratedKeys="true">
    insert into TT_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categroyName != null">
        CATEGROY_NAME,
      </if>
      <if test="categoryCode != null">
        CATEGORY_CODE,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categroyName != null">
        #{categroyName,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.melody.generated.model.Category">
    update TT_CATEGORY
    <set>
      <if test="categroyName != null">
        CATEGROY_NAME = #{categroyName,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        CATEGORY_CODE = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.melody.generated.model.Category">
    update TT_CATEGORY
    set CATEGROY_NAME = #{categroyName,jdbcType=VARCHAR},
      CATEGORY_CODE = #{categoryCode,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>