<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.generated.dao.OrderRefundMapper">
  <resultMap id="BaseResultMap" type="com.melody.generated.model.OrderRefund">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="REFUND_STATUS" jdbcType="VARCHAR" property="refundStatus" />
    <result column="ASKED_AMOUNT" jdbcType="DECIMAL" property="askedAmount" />
    <result column="REAL_AMOUNT" jdbcType="DECIMAL" property="realAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_NO, REFUND_STATUS, ASKED_AMOUNT, REAL_AMOUNT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TR_ORDER_REFUND
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TR_ORDER_REFUND
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderRefund" useGeneratedKeys="true">
    insert into TR_ORDER_REFUND (ORDER_NO, REFUND_STATUS, ASKED_AMOUNT, 
      REAL_AMOUNT)
    values (#{orderNo,jdbcType=VARCHAR}, #{refundStatus,jdbcType=VARCHAR}, #{askedAmount,jdbcType=DECIMAL}, 
      #{realAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderRefund" useGeneratedKeys="true">
    insert into TR_ORDER_REFUND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="refundStatus != null">
        REFUND_STATUS,
      </if>
      <if test="askedAmount != null">
        ASKED_AMOUNT,
      </if>
      <if test="realAmount != null">
        REAL_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="refundStatus != null">
        #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="askedAmount != null">
        #{askedAmount,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null">
        #{realAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.melody.generated.model.OrderRefund">
    update TR_ORDER_REFUND
    <set>
      <if test="orderNo != null">
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="refundStatus != null">
        REFUND_STATUS = #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="askedAmount != null">
        ASKED_AMOUNT = #{askedAmount,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null">
        REAL_AMOUNT = #{realAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.melody.generated.model.OrderRefund">
    update TR_ORDER_REFUND
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      REFUND_STATUS = #{refundStatus,jdbcType=VARCHAR},
      ASKED_AMOUNT = #{askedAmount,jdbcType=DECIMAL},
      REAL_AMOUNT = #{realAmount,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>