<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melody.generated.dao.OrderExpressMapper">
  <resultMap id="BaseResultMap" type="com.melody.generated.model.OrderExpress">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="RECEIVER_NAME" jdbcType="VARCHAR" property="receiverName" />
    <result column="ADDRESS_DETAIL" jdbcType="VARCHAR" property="addressDetail" />
    <result column="RECEIVER_PHONE" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="ZIPCODE" jdbcType="VARCHAR" property="zipcode" />
    <result column="DEVELIERY_COMPANY" jdbcType="VARCHAR" property="develieryCompany" />
    <result column="DEVELIERY_TIME" jdbcType="TIMESTAMP" property="develieryTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_NO, RECEIVER_NAME, ADDRESS_DETAIL, RECEIVER_PHONE, ZIPCODE, DEVELIERY_COMPANY, 
    DEVELIERY_TIME, STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TR_ORDER_EXPRESS
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TR_ORDER_EXPRESS
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderExpress" useGeneratedKeys="true">
    insert into TR_ORDER_EXPRESS (ORDER_NO, RECEIVER_NAME, ADDRESS_DETAIL, 
      RECEIVER_PHONE, ZIPCODE, DEVELIERY_COMPANY, 
      DEVELIERY_TIME, STATUS)
    values (#{orderNo,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{addressDetail,jdbcType=VARCHAR}, 
      #{receiverPhone,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{develieryCompany,jdbcType=VARCHAR}, 
      #{develieryTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderExpress" useGeneratedKeys="true">
    insert into TR_ORDER_EXPRESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME,
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL,
      </if>
      <if test="receiverPhone != null">
        RECEIVER_PHONE,
      </if>
      <if test="zipcode != null">
        ZIPCODE,
      </if>
      <if test="develieryCompany != null">
        DEVELIERY_COMPANY,
      </if>
      <if test="develieryTime != null">
        DEVELIERY_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="develieryCompany != null">
        #{develieryCompany,jdbcType=VARCHAR},
      </if>
      <if test="develieryTime != null">
        #{develieryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.melody.generated.model.OrderExpress">
    update TR_ORDER_EXPRESS
    <set>
      <if test="orderNo != null">
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="develieryCompany != null">
        DEVELIERY_COMPANY = #{develieryCompany,jdbcType=VARCHAR},
      </if>
      <if test="develieryTime != null">
        DEVELIERY_TIME = #{develieryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.melody.generated.model.OrderExpress">
    update TR_ORDER_EXPRESS
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      DEVELIERY_COMPANY = #{develieryCompany,jdbcType=VARCHAR},
      DEVELIERY_TIME = #{develieryTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.melody.generated.model.OrderExpress">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="RECEIVER_NAME" jdbcType="VARCHAR" property="receiverName" />
    <result column="ADDRESS_DETAIL" jdbcType="VARCHAR" property="addressDetail" />
    <result column="RECEIVER_PHONE" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="ZIPCODE" jdbcType="VARCHAR" property="zipcode" />
    <result column="DEVELIERY_COMPANY" jdbcType="VARCHAR" property="develieryCompany" />
    <result column="DEVELIERY_TIME" jdbcType="TIMESTAMP" property="develieryTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_NO, RECEIVER_NAME, ADDRESS_DETAIL, RECEIVER_PHONE, ZIPCODE, DEVELIERY_COMPANY, 
    DEVELIERY_TIME, STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TR_ORDER_EXPRESS
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TR_ORDER_EXPRESS
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderExpress" useGeneratedKeys="true">
    insert into TR_ORDER_EXPRESS (ORDER_NO, RECEIVER_NAME, ADDRESS_DETAIL, 
      RECEIVER_PHONE, ZIPCODE, DEVELIERY_COMPANY, 
      DEVELIERY_TIME, STATUS)
    values (#{orderNo,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{addressDetail,jdbcType=VARCHAR}, 
      #{receiverPhone,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{develieryCompany,jdbcType=VARCHAR}, 
      #{develieryTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderExpress" useGeneratedKeys="true">
    insert into TR_ORDER_EXPRESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME,
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL,
      </if>
      <if test="receiverPhone != null">
        RECEIVER_PHONE,
      </if>
      <if test="zipcode != null">
        ZIPCODE,
      </if>
      <if test="develieryCompany != null">
        DEVELIERY_COMPANY,
      </if>
      <if test="develieryTime != null">
        DEVELIERY_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="develieryCompany != null">
        #{develieryCompany,jdbcType=VARCHAR},
      </if>
      <if test="develieryTime != null">
        #{develieryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.melody.generated.model.OrderExpress">
    update TR_ORDER_EXPRESS
    <set>
      <if test="orderNo != null">
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="develieryCompany != null">
        DEVELIERY_COMPANY = #{develieryCompany,jdbcType=VARCHAR},
      </if>
      <if test="develieryTime != null">
        DEVELIERY_TIME = #{develieryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.melody.generated.model.OrderExpress">
    update TR_ORDER_EXPRESS
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      DEVELIERY_COMPANY = #{develieryCompany,jdbcType=VARCHAR},
      DEVELIERY_TIME = #{develieryTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.melody.generated.model.OrderExpress">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="RECEIVER_NAME" jdbcType="VARCHAR" property="receiverName" />
    <result column="ADDRESS_DETAIL" jdbcType="VARCHAR" property="addressDetail" />
    <result column="RECEIVER_PHONE" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="ZIPCODE" jdbcType="VARCHAR" property="zipcode" />
    <result column="DEVELIERY_COMPANY" jdbcType="VARCHAR" property="develieryCompany" />
    <result column="DEVELIERY_TIME" jdbcType="TIMESTAMP" property="develieryTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_NO, RECEIVER_NAME, ADDRESS_DETAIL, RECEIVER_PHONE, ZIPCODE, DEVELIERY_COMPANY, 
    DEVELIERY_TIME, STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TR_ORDER_EXPRESS
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TR_ORDER_EXPRESS
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderExpress" useGeneratedKeys="true">
    insert into TR_ORDER_EXPRESS (ORDER_NO, RECEIVER_NAME, ADDRESS_DETAIL, 
      RECEIVER_PHONE, ZIPCODE, DEVELIERY_COMPANY, 
      DEVELIERY_TIME, STATUS)
    values (#{orderNo,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{addressDetail,jdbcType=VARCHAR}, 
      #{receiverPhone,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{develieryCompany,jdbcType=VARCHAR}, 
      #{develieryTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderExpress" useGeneratedKeys="true">
    insert into TR_ORDER_EXPRESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME,
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL,
      </if>
      <if test="receiverPhone != null">
        RECEIVER_PHONE,
      </if>
      <if test="zipcode != null">
        ZIPCODE,
      </if>
      <if test="develieryCompany != null">
        DEVELIERY_COMPANY,
      </if>
      <if test="develieryTime != null">
        DEVELIERY_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="develieryCompany != null">
        #{develieryCompany,jdbcType=VARCHAR},
      </if>
      <if test="develieryTime != null">
        #{develieryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.melody.generated.model.OrderExpress">
    update TR_ORDER_EXPRESS
    <set>
      <if test="orderNo != null">
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="develieryCompany != null">
        DEVELIERY_COMPANY = #{develieryCompany,jdbcType=VARCHAR},
      </if>
      <if test="develieryTime != null">
        DEVELIERY_TIME = #{develieryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.melody.generated.model.OrderExpress">
    update TR_ORDER_EXPRESS
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      DEVELIERY_COMPANY = #{develieryCompany,jdbcType=VARCHAR},
      DEVELIERY_TIME = #{develieryTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.melody.generated.model.OrderExpress">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="RECEIVER_NAME" jdbcType="VARCHAR" property="receiverName" />
    <result column="ADDRESS_DETAIL" jdbcType="VARCHAR" property="addressDetail" />
    <result column="RECEIVER_PHONE" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="ZIPCODE" jdbcType="VARCHAR" property="zipcode" />
    <result column="DEVELIERY_COMPANY" jdbcType="VARCHAR" property="develieryCompany" />
    <result column="DEVELIERY_TIME" jdbcType="TIMESTAMP" property="develieryTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_NO, RECEIVER_NAME, ADDRESS_DETAIL, RECEIVER_PHONE, ZIPCODE, DEVELIERY_COMPANY, 
    DEVELIERY_TIME, STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TR_ORDER_EXPRESS
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TR_ORDER_EXPRESS
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderExpress" useGeneratedKeys="true">
    insert into TR_ORDER_EXPRESS (ORDER_NO, RECEIVER_NAME, ADDRESS_DETAIL, 
      RECEIVER_PHONE, ZIPCODE, DEVELIERY_COMPANY, 
      DEVELIERY_TIME, STATUS)
    values (#{orderNo,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{addressDetail,jdbcType=VARCHAR}, 
      #{receiverPhone,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{develieryCompany,jdbcType=VARCHAR}, 
      #{develieryTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderExpress" useGeneratedKeys="true">
    insert into TR_ORDER_EXPRESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME,
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL,
      </if>
      <if test="receiverPhone != null">
        RECEIVER_PHONE,
      </if>
      <if test="zipcode != null">
        ZIPCODE,
      </if>
      <if test="develieryCompany != null">
        DEVELIERY_COMPANY,
      </if>
      <if test="develieryTime != null">
        DEVELIERY_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="develieryCompany != null">
        #{develieryCompany,jdbcType=VARCHAR},
      </if>
      <if test="develieryTime != null">
        #{develieryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.melody.generated.model.OrderExpress">
    update TR_ORDER_EXPRESS
    <set>
      <if test="orderNo != null">
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="develieryCompany != null">
        DEVELIERY_COMPANY = #{develieryCompany,jdbcType=VARCHAR},
      </if>
      <if test="develieryTime != null">
        DEVELIERY_TIME = #{develieryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.melody.generated.model.OrderExpress">
    update TR_ORDER_EXPRESS
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      DEVELIERY_COMPANY = #{develieryCompany,jdbcType=VARCHAR},
      DEVELIERY_TIME = #{develieryTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.melody.generated.model.OrderExpress">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo" />
    <result column="RECEIVER_NAME" jdbcType="VARCHAR" property="receiverName" />
    <result column="ADDRESS_DETAIL" jdbcType="VARCHAR" property="addressDetail" />
    <result column="RECEIVER_PHONE" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="ZIPCODE" jdbcType="VARCHAR" property="zipcode" />
    <result column="DEVELIERY_COMPANY" jdbcType="VARCHAR" property="develieryCompany" />
    <result column="DEVELIERY_TIME" jdbcType="TIMESTAMP" property="develieryTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_NO, RECEIVER_NAME, ADDRESS_DETAIL, RECEIVER_PHONE, ZIPCODE, DEVELIERY_COMPANY, 
    DEVELIERY_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TR_ORDER_EXPRESS
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TR_ORDER_EXPRESS
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderExpress" useGeneratedKeys="true">
    insert into TR_ORDER_EXPRESS (ORDER_NO, RECEIVER_NAME, ADDRESS_DETAIL, 
      RECEIVER_PHONE, ZIPCODE, DEVELIERY_COMPANY, 
      DEVELIERY_TIME)
    values (#{orderNo,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{addressDetail,jdbcType=VARCHAR}, 
      #{receiverPhone,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{develieryCompany,jdbcType=VARCHAR}, 
      #{develieryTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.melody.generated.model.OrderExpress" useGeneratedKeys="true">
    insert into TR_ORDER_EXPRESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME,
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL,
      </if>
      <if test="receiverPhone != null">
        RECEIVER_PHONE,
      </if>
      <if test="zipcode != null">
        ZIPCODE,
      </if>
      <if test="develieryCompany != null">
        DEVELIERY_COMPANY,
      </if>
      <if test="develieryTime != null">
        DEVELIERY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="develieryCompany != null">
        #{develieryCompany,jdbcType=VARCHAR},
      </if>
      <if test="develieryTime != null">
        #{develieryTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.melody.generated.model.OrderExpress">
    update TR_ORDER_EXPRESS
    <set>
      <if test="orderNo != null">
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="develieryCompany != null">
        DEVELIERY_COMPANY = #{develieryCompany,jdbcType=VARCHAR},
      </if>
      <if test="develieryTime != null">
        DEVELIERY_TIME = #{develieryTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.melody.generated.model.OrderExpress">
    update TR_ORDER_EXPRESS
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      RECEIVER_PHONE = #{receiverPhone,jdbcType=VARCHAR},
      ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      DEVELIERY_COMPANY = #{develieryCompany,jdbcType=VARCHAR},
      DEVELIERY_TIME = #{develieryTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>